@font-face {
    font-family: SFB;
    src: url("SFText-Bold.otf") format("opentype");
}

@font-face {
    font-family: SFR;
    src: url("SFText-Regular.otf") format("opentype");
}

body {
    margin-top: 100px;
}

.menubar {
    position: fixed;
    top: 100px;
    left: 100px;
    z-index: 100;
}

.grostitre {
    padding-left: 0;
    width: 400px;
    font-size: 30px;
    font-family: 'Rock Salt', cursive;
    color: black;
}

.grostitre:hover {
    color: #94BA93;
}

.premiernav {
    font-size: 15px;
    margin-bottom: -10px;
    padding-left: 0px;
    color: black;
    font-family: SFB, 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

.premiernav:hover {
    color: #c6c65e;
}


.secondnav {
    font-size: 13px;
    padding: 0px;
    margin-left: 50px;
    color: grey;
    font-family: SFR, 'Montserrat', sans-serif;
    letter-spacing: 0.5px;

}

.secondnav:hover {
    color: black;
}

.imghome {
    max-width: 450px;
}

.legendereal {
    font-size: 12px;
    color: black;
    font-family: SFR, 'Montserrat', sans-serif;
}

.navinfoslast {
    margin-bottom: 50px;
}