@font-face {
    font-family: "SanFran";
    src: url('SanFranciscoDisplay-Regular.otf');
}

@font-face {
    font-family: "SanFranBold";
    src: url('SanFranciscoDisplay-Bold.otf');
}

@font-face {
    font-family: "Myriad";
    src: url('MYRIADPRO-REGULAR.OTF');
}

body {
    background-color: rgba(248,248,248, 0.50);
    padding-top: 20px; 
}

.li{
    font-family: 'Arimo', sans-serif;
}

.navbar{
    border: 0;
    background-color: rgba(255, 255, 255, 0);
}

.container-fluid{
    padding-top: 30px; 
    padding-bottom: 30px;
    font-family: 'SanFran', sans-serif;
    font-size: 15pt;
}

.navbar-brand{
    font-size: 29pt;
    font-weight: 300;
}

p{
    margin-top: 20pt;
    text-align: justify;
    font-size: 14pt;
}
p2{
    margin-top: 18pt;
    text-align: justify;
    font-size: 11pt;
}

.othercontainer{
    padding-top: 20pt;
    padding-bottom: 20pt;
    font-family: 'Myriad', sans-serif;
    padding-bottom: 30pt;
}

.cont0{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    font-size: 18px;
    margin-top: 40pt;
}

h10{
    font-size: 60px;
    width: auto;
    height: auto;
    border: medium solid rgb(25, 65, 100);
    width: 250px;
    padding: 9px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-family: 'Kaushan Script', sans-serif;
}

.cont1{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-top: -10pt;
    background-color: #cee2e2;

}

h11{
    display: block;
    font-size: 40px;
    width: 210px;
    margin-top: 50pt;
    font-family: 'SanFranBold', sans-serif;
    color: black;
    letter-spacing: 2pt;
}

btn{
    background-color: antiquewhite;
}


.cont2{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-top: -10pt;
    background-color: #dae2ce;
}

table{
    background-color: rgba(255, 255, 255, 0.37);
    border-collapse: separate;
    border-spacing:25px; 
    border-width:5px; 
    margin-top: 35px;
    margin-bottom: 20px;
    border-style:solid; 
    border-color:#ffffff;
    width:95%;
    table-layout:fixed;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}


h12{
    display: block;
    font-size: 40px;
    width: 100%;
    margin-top: 50pt;
    font-family: 'SanFranBold', sans-serif;
        color: black;
    letter-spacing: 2pt;
}

.cont3{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-top: -10pt;
    background-color: #e2cece;
}


h13{
    display: block;
    font-size: 40px;
    width: 210px;
    margin-top: 50pt;
    font-family: 'SanFranBold', sans-serif;
        color: black;
    letter-spacing: 2pt;
}

.cont4{
    margin-left: auto;
    margin-right: auto;
    width:100%;
    margin-top: -10pt;
    background-color: rgba(168, 144, 41, 0.34);
   
}

h14{
    display: block;
    font-size: 40px;
    width: 100%;
    margin-top: 50pt;
    font-family: 'SanFranBold', sans-serif;
        color: black;
    letter-spacing: 2pt;
}

.selection-section {
  background: #FDDC00;
}

.ombre{
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
